.editor-wrapper {
  width: 100%;
  background: #f2f2f2; /* light gray */
  padding: 8px 16px; /* reduced inner spacing */
  box-sizing: border-box;
  border-radius: 6px;
  margin: 0.2rem 0; /* reduced outer spacing */
  position: relative; /* for placeholder positioning */
  display: flex;
}

.editor-root {
  min-height: calc(1em * 2 + 4px);
  outline: none;
  flex: 1 1 auto;
  width: 100%;
  font-size: 14px;
  /* Previous line-height: 0.5 caused wrapped lines to overlap. Use a readable value. */
  line-height: 1.35;
  color: #111;
  background: transparent; /* wrapper supplies background */
  display: block;
}

.editor-placeholder {
  color: #888;
  font-size: 14px;
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  text-align: center;
  transform: translateY(-50%);
  pointer-events: none;
  user-select: none;
  line-height: 1.3; /* match editor text */
}

/* MARK: List styles */

.editor-ol, .editor-ul {
  padding-left: 1.5em;
  list-style-position: outside;
  margin-top: 0em;
  margin-bottom: 0em;
}

.editor-paragraph {
  margin-top: 0em;
  margin-bottom: 0em;
}

.editor-listItem {
  font-family: var(--listitem-marker-font-family);
  font-size: var(--listitem-marker-font-size);
  background-color: var(--listitem-marker-background-color);
}

.editor-listItemChecked {
  text-decoration: line-through;
}

/* The checkbox */
.editor-listItemUnchecked:before,
.editor-listItemChecked:before {
  content: '\200B';
  width: 0.9em;
  height: 0.9em;
  top: 50%;
  left: 0;
  cursor: pointer;
  display: block;
  background-size: cover;
  position: absolute;
  transform: translateY(-50%);
}

/* The style of the checkbox */
.editor-checklist {
  padding-left: 0em;
}

.editor-listItemUnchecked:before {
  border: 1px solid #999;
  border-radius: 2px;
}
.editor-listItemChecked:before {
  border: 1px solid rgb(61, 135, 245);
  border-radius: 2px;
  background-color: #3d87f5;
  background-repeat: no-repeat;
}
/* The tick in the checkbox */
.editor-listItemChecked:after {
  content: '';
  cursor: pointer;
  border-color: #fff;
  border-style: solid;
  position: absolute;
  display: block;
  top: calc(50% - 0.05em);
  width: 0.2em;
  left: 0.35em;
  height: 0.4em;
  transform: translateY(-50%) rotate(45deg);
  border-width: 0 0.1em 0.1em 0;
}

.editor-listItemChecked,
.editor-listItemUnchecked {
  position: relative;
  margin-right: 0.5em;
  padding-left: 1.5em;
  padding-right: 1.5em;
  list-style-type: none;
  outline: none;
  display: block;
  /* min-height: 1.5em; */
}

.editor-listItemChecked > *,
.editor-listItemUnchecked > * {
  margin-left: 0.01em;
}
